[submodule "godot_default_template/{{cookiecutter.project_folder}}/external/godot-console"]
	path = godot_default_template/{{cookiecutter.project_folder}}/external/godot-console
	url = https://github.com/winkensjw/godot-console.git
